.panel {
    margin: 20px;
    width: 600px;
    height: 400px;
    position: absolute;
    top: 0;
    border: 1px solid lightgray;
    border-radius: 8px;
    background-image: radial-gradient(90% 1.5rem at 50% -0.8rem, rgba(0, 0, 0, 0.3) 80%, rgba(0, 0, 0, 0.9));    
    backdrop-filter: blur(2px) saturate(100%) contrast(45%) brightness(130%);
    box-shadow: 0 0 4px black;
}


body {
    background-color: green;
}