.order-item-display-grid {
    display: grid;
    grid-template-columns: min-content auto min-content;
    gap: 3px;
    height: fit-content;
    overflow-y: auto;
    align-items: center;
    justify-items: left;
    border: 2px solid transparent;
    box-sizing:border-box;
}

.order-item-display-grid.selected {
    background: rgba(135, 206, 235, 0.5);
    border: 2px dashed skyblue;
}

.order-item-display-grid.new-item {
    color: seagreen;
}